<div class="album-box" *ngIf="album">
	<div id="album-head-card">
		<div class="image">
			<img src="{{url + 'get-image-album/' + album.image}}">
		</div>
		<div class="data">
			<h1>{{album.title}}</h1>
			<!-- <p><strong>{{album.artist.name}}</strong></p> -->
			<p>{{album.year}}</p>
			<p>{{album.description}}</p>

			<a class="btn btn-default" *ngIf="identity.role == 'ROLE_ADMIN'" [routerLink]="['/create-song', album._id]">Add
				Song</a>
		</div>
	</div>
	<div class="clearfix"></div>
	<div id="gallery-songs" *ngIf="songs">
		<ul id="songs-list">
			<li *ngFor="let song of songs" class="song-item">
				<div class="title">
					<a class="btn btn-success" (click)="startPlayer(song)">
						<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
					</a>
					{{song.number + '. ' + song.name + ' - ' + song.duration}}

					<div class="btn-toolbar buttons" *ngIf="identity  && identity.role == 'ROLE_ADMIN'">
						<a [routerLink]="['/edit-song', song._id]" class="btn btn-warning">Edit</a>
						<a (click)="onDeleteConfirm(song._id)" class="btn btn-danger">Delete</a>
					</div>
					<div class="confirmedSong btn-toolbar" *ngIf="confirmed == song._id">
						<a (click)="onDeleteSong(song._id)" class="btn btn-danger">Delete</a>
						<a (click)="onCancelSong()" class="btn btn-primary">Cancel</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</li>
		</ul>
	</div>
</div>