<h1>{{title}}</h1>

<!-- FORM TO ADD NEW ARTIST -->
<form #formArtist="ngForm" (ngSubmit)="onSubmit()" class="col-lg-3">
	<p>
		<label for="name">Name:</label>
		<input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="artist.name" required>
		<span *ngIf="!name && name.touched">Name is not valid</span>
	</p>
	<p>
		<label for="description">Description::</label>
		<textarea name="description" class="form-control" #description="ngModel" [(ngModel)]="artist.description"
			required></textarea>
		<span *ngIf="!description && description.touched">Description is not valid</span>
	</p>

	<input type="submit" class="btn btn-success" value="{{title}}" [disabled]="!formArtist.form.valid">
</form>