<div class="col-lg-4" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
	<h1>{{componentTitle}}</h1>

	<div *ngIf="alertMessage">
		<div class="alert alert-success">
			{{alertMessage}}
		</div>
	</div>

	<form #formSong="ngForm" (ngSubmit)="onSubmit()">
		<p>
			<label for="number">Number:</label>
			<input type="text" class="form-control" name="number" #number="ngModel" [(ngModel)]="song.number" required>
			<span *ngIf="!number && number.touched">Number is not valid</span>
		</p>
		<p>
			<label for="title">Title:</label>
			<input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="song.name" required>
			<span *ngIf="!name && name.touched">Title is not valid</span>
		</p>
		<p>
			<label for="duration">Duration:</label>
			<input type="text" name="duration" class="form-control" #duration="ngModel" [(ngModel)]="song.duration" required>
			<span *ngIf="!duration && duration.touched">Duration is not valid</span>
		</p>

		<div *ngIf="isEdit">
			<div class="songFileForEdit" *ngIf="song.file && song.file != 'null'">
				<audio controls>
					<source src="{{url + 'get-file-song/' + song.file}}" type="audio/mpeg" />
					Your browser does not support music player.
				</audio>
			</div>

			<p>
				<label for="ArtistImage">Upload Song</label>
				<input type="file" placeholder="Upload Song" (change)="fileChangeEvent($event)">
			</p>

		</div>

		<input type="submit" class="btn btn-success" value="{{componentTitle}}" [disabled]="!formSong.form.valid">
	</form>
</div>