html, body {
	margin: 0px;
	background: #eee;
}

.active {
	border-bottom: 2px solid #388c14;
	padding-bottom: 4px;
}

.central {
	height: 100%;
	overflow-y: scroll;
}

.confirmed {
	margin-top: -30px;
	position: absolute;
	background: #222326;
}

.confirmed-album {
	margin-top: -40px;
	margin-left: 5px !important;
	position: absolute;
	background: #222326;
}

.head-title {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;
}

.navigation {
	text-align: center;
	color:white;
	background-color: #1c1c1f;
	height: 100vh;
}

.navigation a {
	color: #ddd;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
}

.navigation a:hover, a:focus {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.navigation .glyphicon {
	font-size: 25px;
	display: block;
	width: 100%;
}

#user_logged {
	background-color: #1c1c1f;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #444;
	width: 75%;
	text-decoration: center;
}

#user_logged .log-out:hover{
	color: rgb(167, 52, 52);
	cursor: pointer;
}

#user_logged .userImage {
	background-color: #eee;
	border-radius: 100px;
	height: 57px;
	width: 57px;
	margin: 0px auto;
	margin-top: 15px;
	margin-bottom: 10px;
	overflow: hidden;
}

#user_logged .userImage img {
	width: 57px;
}

/* ARTIST and ALBUM RELATED */

.artistImageForEdit img,
.albumImageForEdit img {
	width: 300px;
}

.artistList, 
.album-list {
	margin: 0;
	padding: 0px;
	margin-top: 100px;
	margin-left: 250px;
	list-style: none;
}

.album-list {
	margin-top: 0;
}

.artistItem, 
.album-item {
	width: 25% !important;
	margin: 0px;
	padding-right: 0px !important;
	padding-left: 0px !important;
	height: 342px;
	border: 1px solid #444;
	margin-left: 25px;
	/* margin-top: 20px; */
}

.album-item {
	height: 380px;
}

.artistItem .artistImage, 
.album-item .album-image {
	height: 270px;
	width: 100%;
	overflow: hidden;
	background: black;
}

.artistItem .artistImage img {
	height: 100%;
	min-width: 100%;
}

.album-item .album-image img {
	width: 100%;
}

.artistItem .artistName,
.album-item .album-name {
	color: white;
	padding: 10px;
	background: #222326;
}

.artistItem .artistName a,
.album-item .album-name a {
	color: white;
}

.artist-head-card .image,
#album-head-card .image {
	width: 300px;
	height: 300px;
	overflow: hidden;
	float: left;
	margin-right: 30px;
}

.artist-head-card .image img,
#album-head-card .image img {
	width: 300px;
}

/*SONGS*/

#songs-list {
	margin: 0;
	padding: 0;
}

.song-item {
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding-top: 2px;
}

.song-item .buttons {
	float: right;
}

.song-item .title {
	padding:10px;
}

.song-item .btn-success {
	margin-right: 5px;
}

.confirmedSong {
	margin-top: -34px;
	margin-left: 5px !important;
	position: absolute;
	right: 10px;
	background: #eee;
}